<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookChef</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>PojoUser.java</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>AdminLogin.html</welcome-file>
    <welcome-file>AdminMainPage.html</welcome-file>
    <welcome-file>ChefRegister.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>success.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>User_ViewAllChefs.jsp</welcome-file>
    <welcome-file>Chef_Approved.jsp</welcome-file>
    <welcome-file>User_ViewAllUsers.jsp</welcome-file>
     <welcome-file>Pending_Bookings.jsp</welcome-file>
      <welcome-file>Booking_approved.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.komal.chef.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMainPage</display-name>
    <servlet-name>AdminMainPage</servlet-name>
    <servlet-class>com.komal.chef.AdminMainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMainPage</servlet-name>
    <url-pattern>/AdminMainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChefRegister</display-name>
    <servlet-name>ChefRegister</servlet-name>
    <servlet-class>com.komal.chef.ChefRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChefRegister</servlet-name>
    <url-pattern>/ChefRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChefLogin</display-name>
    <servlet-name>ChefLogin</servlet-name>
    <servlet-class>com.komal.chef.ChefLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChefLogin</servlet-name>
    <url-pattern>/ChefLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.komal.chef.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.komal.chef.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_ChangePass</display-name>
    <servlet-name>User_ChangePass</servlet-name>
    <servlet-class>com.komal.chef.User_ChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_ChangePass</servlet-name>
    <url-pattern>/User_ChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chef_ChangePass</display-name>
    <servlet-name>Chef_ChangePass</servlet-name>
    <servlet-class>com.komal.chef.Chef_ChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chef_ChangePass</servlet-name>
    <url-pattern>/Chef_ChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Booking_Data</display-name>
    <servlet-name>Booking_Data</servlet-name>
    <servlet-class>com.komal.chef.Booking_Data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booking_Data</servlet-name>
    <url-pattern>/Booking_Data</url-pattern>
  </servlet-mapping>
  
  
</web-app>